@import "tailwindcss";

:root {
  --primary: #d90429;
  --secondary: #111827;
  --accent: #facc15;

  --background: #ffffff;
  --foreground: #1f2937;

  --radius: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

img {
  user-select: none;
}

::selection {
  background: #d90429;
  color: white;
}